*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 86, 12);
    height: 60px;
}

nav h1 {
    color: #FFFFFF;
    margin-top:10px ;
    
}
ul{
    display: flex;
    gap: 25px;
  transform: translateX(-40%);
    margin-top: 10px;

}
ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width:30% ;
   align-self: center;
   background-color: rgb(154, 130, 0);
   height: 280px;
   margin: auto;
   margin-top: 15%;
   padding: 10px;
   border-radius: 12px;
    
    
}
form button {
    background-color: black;
    color: #FFFFFF;
    width: 80px;
    border-radius: 8px;
    height: 50px;
    margin: auto;
}
form input{
    padding: 5px;
    width:80% ;
    margin: auto;
margin-bottom: 5px;
}
form label{
    text-align: center;
    margin-bottom: 5px;
}
.phptest{
    margin: auto;
    margin-top:17% ;
    background-color: aqua;
    width: 300px;
}